<!DOCTYPE html>
<html lang="es" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
        crossorigin="anonymous"></script>
</head>

<body>
    <!--INICO DE MENÚ-->

    <header id="header">

        <header th:insert="layout/menu :: menu-principal"></header>
    </header>

    <!--FINAL DE MENÚ-->


    <!-- INICIO BANNER -->

    <main class="main-banner">

        <img src="/img/home/cine.jpg" alt="" class="main-banner-img" />

        <div class="container"> <!--El 'container' es de boostrap que Crea un contenedor que este centrado -->

            <div class="row centrado"> <!-- para la linea 167 de css -->

                <div class="main-banner-data">

                    <h1 class="main-banner-titulo">
                        DARTE LA MEJOR SATISFACCION HACIA NUESTROS CLIENTES
                    </h1>

                    <p class="main-banner-parrafo">
                        Siempre queremos que nuestros clientes se sientan satisfechos viendo nuestras peliculas en
                        cartelera,
                        y que tengan la mejor calidad en nuestras salas
                    </p>

                    <a href="#" class="main-banner-boton">Cartelera</a>
                    <a href="#" class="main-banner-boton">Proximos eventos</a>

                </div>

            </div>

        </div>
    </main>

    <!-- FINAL BANNER -->
    <br><br><br><br><br>
    <!-- INICIO CARDS -->

    <div class="container">
        <div>
            <h1 class="titulo1">Nuestros beneficios</h1>
        </div>
        <div class="cards-grid-benef">
            <div class="card-benef">
                <div class="card-img-benef">
                    <img src="/img/home/A1.jpg" alt="">
                    Mejor Satisfaccion
                </div>
            </div>


            <div class="card-benef">
                <div class="card-img-benef">
                    <img src="/img/home/A2.png" alt="">
                    100% Original
                </div>
            </div>


            <div class="card-benef">
                <div class="card-img-benef">
                    <img src="/img/home/A3.jpg" alt="">
                    Asesoria del cliente
                </div>
            </div>


            <div class="card-benef">
                <div class="card-img-benef">
                    <img src="/img/home/A4.jpg" alt="">
                    Emprendimiento
                </div>
            </div>
        </div>

        <div>
            <h1 class="titulo2">Algunas que podrian gustarte de peliculas</h1>
        </div>

        <div class="cards-grid">
            <div class="card">
                <div class="card-img">
                    <img src="/img/home/peli1.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#">
                        <h1 class="card-title">JOCKER <br> AutoCI 202</h1>
                        <div class="testeo">
                            <a href="#" class="card-info">Conocer más</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="/img/home/peli2.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#">
                        <h1 class="card-title">BATMAN REGRESA <br> AutoCI 202</h1>
                        <div class="testeo">
                            <a href="#" class="card-info">Conocer más</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="/img/home/peli3.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#">
                        <h1 class="card-title">VOLVIENDO AL FUTURO <br> AutoCI 202</h1>
                        <div class="testeo">
                            <a href="#" class="card-info">Conocer más</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="/img/home/peli4.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#">
                        <h1 class="card-title">LINTERNA VERDE <br> AutoCI 202</h1>
                        <div class="testeo">
                            <a href="#" class="card-info">Conocer más</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="/img/home/peli5.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#">
                        <h1 class="card-title">THE FLASH <br> AutoCI 202</h1>
                        <div class="testeo">
                            <a href="#" class="card-info">Conocer más</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="/img/home/peli6.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#">
                        <h1 class="card-title">AVENGERS - INFINITY WAR <br> AutoCI 202</h1>
                        <div class="testeo">
                            <a href="#" class="card-info">Conocer más</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="/img/home/peli7.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#">
                        <h1 class="card-title">TOY STORY <br> AutoCI 202</h1>
                        <div class="testeo">
                            <a href="#" class="card-info">Conocer más</a>
                        </div>
                    </a>
                </div>
            </div>

            <div class="card">
                <div class="card-img">
                    <img src="/img/home/peli8.jpg" alt="">
                </div>
                <div class="card-content">
                    <a href="#">
                        <h1 class="card-title">ACTIVIDAD PARANORMAL - 3 <br> AutoCI 202</h1>
                        <div class="testeo">
                            <a href="#" class="card-info">Conocer más</a>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>
    <!-- </div> -->

    <br>
    <br>

</body>

</html>